<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/matthew-henry-U5rMrSI7Pn4-unsplash.jpg"
      alt="img-cold"
      *ngIf="weatherData.main.temp <= 10"
    />
    <img
      src="../assets/artem-kniaz-gJLijuwr4AE-unsplash.jpg"
      alt="img-warm"
      *ngIf="weatherData.main.temp > 10 && weatherData.main.temp < 25"
    />
    <img
      src="../assets/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"
      alt="img-hot"
      *ngIf="weatherData.main.temp >= 25"
    />
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number: "1.0-0" }}°C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faTemperatureLow"></fa-icon>
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number: "1.0-0" }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faTemperatureHigh"></fa-icon>
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | number: "1.0-0" }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faDroplet"></fa-icon>
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faWind"></fa-icon>
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
